[submodule "external/imgui/imgui"]
	path = external/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/imgui/implot"]
	path = external/imgui/implot
	url = https://github.com/epezent/implot
[submodule "external/stb/stb"]
	path = external/stb/stb
	url = https://github.com/nothings/stb
[submodule "external/spirv-reflect/spirv-reflect"]
	path = external/spirv-reflect/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
