build/
build-*/
.cache
.vscode

imgui.ini

external/imgui/imgui
external/imgui/implot
external/spirv-reflect/spirv-reflect
external/stb/stb

resource/shader/*.spv
samples/boxes/
samples/hopf/

res/shader/

perf.*


